.navbar{
	display: flex;
	align-items: center;
	padding	: 20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display:inline-block;
	list-style-type: none;
}
nav li{
	display: inline-block;
	margin-right: 30px;
	color: black;
}
ul, li {
   list-style:none      
 }
 .container #header
{
	max-width: 1300px;
	margin: auto;
	padding-left: 30px;
	padding-right: 25px;
	padding-bottom: 100px;
}
#logo{	
	height: 150px;
	width: 200px;
}
.header{
	background-color: brown;
}

li a{
	text-decoration: none;
	color: black;
	box-sizing: border-box;
}


.headline{
	margin: 70px 0
}
#headline_text{
	text-align: center;
}
.latest_news{
	margin: 50px;
}
.footer{
	background:#000;
	color: #F5FFFA;
	font-size: 14px;
	padding: 60px 0 20px;
	margin: auto;
}
.col-4 .card-header #second h1{
	margin: 50px;
}
#second h1{
	color: red;
}
#testing {
	height: 420px;
	width: 300px;
}
.footer .row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
#test1{
	background-color: red;
}
#test2{
	background-color: blue;
	text-align: center;
}

#test2 img{
	margin-left: auto;
	margin-right: auto;
	display:block;
	height: 400px;
}
#test3{
	background-color: green;
	text-align: center;
}
#test4{
	background: pink;
	text-align: center;
}
#small_news img{
	margin-left: auto;
	margin-right: auto;
	display:block;
	height: 100px;
}
#small_news h1,p{
	text-align: center;
}
